@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: #C5E1EC;
    justify-content: center;
    align-items: center;
}

body > div {
    width: 100%;
}

.h1-box {
    text-align: center;
}

h1 {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 10px #FFFFFF;
    border: dashed 5px #303030;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    color: #FF9100;
}

.calendar {
    color: #FFFFFF;
}

.h1_shadow {
    text-shadow: 1px 0 0 #303030,
    0 1px 0 #303030,
    -1px 0 0 #303030,
    0 -1px 0 #303030,
    3px 3px 0 #303030;
}

form {
    width: 90%;
    margin: auto;
}

form ul {
    list-style: none;
}

form label,
form input {
    font-size: 120%;
    display: block;
    width: 100%;
}

.input_text {
    position: relative;
    margin: 60px 3%;
}

.input_text input {
    color: #303030;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 4em;
}

.input_text input:focus {
    outline: none;
}

.ef {
    padding: 4px 0;
    border: none;
    background-color: transparent;
}

.ef ~ .focus_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.4s;
    background-color: #303030;
}

.ef:focus ~ .focus_line,
.input_text.ef ~ .focus_line {
    width: 100%;
    background-color: #FF9100;
    transition: 0.4s;
}

.ef ~ label {
    position: absolute;
    z-index: -1;
    top: -5px;
    left: 0;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #303030;
}

.ef:focus ~ label, .input_text.ef ~ label {
    font-size: 100%;
    top: -16px;
    transition: 0.3s;
    color: #FF9100;
}

form input[type="submit"] {
    -webkit-appearance: none;
    color: #FFFFFF;
    background-color: #303030;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 100vh;
    border: none;
}

form input[type="submit"]:hover {
    color: #FF9100;
    background-color: #505050;
    transition: 0.3s;
}

form > div {
    position: absolute;
    width: 90vw;
    bottom: 10vh;
    text-align: center;
}

a {
    color: #FF9100;
}

a:hover {
    color: #ffb052;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #C5E1EC inset;
}
