@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

header {
    background-color: #C5E1EC;
    height: 15vh;
    position: relative;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.5);
}

header h2 {
    position: absolute;
    font-size: 150%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

header a {
    position: absolute;
    padding: 10px;
    bottom: 0;
    color: #000000;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
}
