<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>アカウント作成</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/add_work_shift_info.css')}}">
</head>
<body>
<header>
    <a href="{{url_for('index')}}">＜</a>
    <h2>バイト先情報登録</h2>
</header>
<main>
    <p id="error">{% if error %}{{error}}{% endif %}</p>
    <form action="" method="post">
        <ul>
            <li>
                <div class="input_text">
                    <input class="ef" type="text" name="job_name" id="job_name">
                    <label for="job_name">JobName</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <input class="ef" type="text" name="salary_date" id="salary_date">
                    <label for="salary_date">SalaryDate</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <div class="select_color">
                        <div id="color_box"></div>

                        <select id="color" class="ef">
                            <option value="#FF0000">赤</option>
                            <option value="#FF3399">ピンク</option>
                            <option value="#FF9100">オレンジ</option>
                            <option value="#FFD400">黄色</option>
                            <option value="#008000">緑</option>
                            <option value="#B2D235">黄緑</option>
                            <option value="#67A7CC">水色</option>
                            <option value="#0067C0">青</option>
                            <option value="#5F4894">紫</option>
                            <option value="#717375">グレー</option>
                        </select>
                        <label for="job_name">Color</label>
                        <span class="focus_line"></span>
                    </div>
                </div>
            </li>
        </ul>
        <div>
            <input type="submit" value="次へ">
        </div>
    </form>
</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const color_box = document.getElementById('color_box');
        const color = document.getElementById('color');

        color_box.style.backgroundColor = color.value;

        color.addEventListener('change', () => {
            color_box.style.backgroundColor = color.value;
        });
    });
</script>
</body>
</html>
