{% extends "layout.html" %}

{% block title %}
バイト先情報登録【ジョビカレンダー】
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/add_work_shift_info.css')}}">
{% endblock %}

{% block back_page %}
<a href="#">＜</a>
{% endblock %}

{% block header %}
<h2>バイト先情報登録</h2>
{% endblock %}

{% block main %}
<main>
    <p id="error">{% if error %}{{error}}{% endif %}</p>
    <form action="{{url_for('add_work_shift_info.confirm_work_shift_info_page')}}" method="post">
        <ul>
            <li>
                <div class="input_text">
                    <input class="ef" type="text" name="job_name" id="job_name">
                    <label for="job_name">JobName</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <select name="salary_day" id="salary_day" class="ef"></select>
                    <label for="salary_day">SalaryDate</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <div class="select_color">
                        <div id="color_box"></div>
                        <select name="color" id="color" class="ef">
                            <option value="#FF0000">赤</option>
                            <option value="#FF3399">ピンク</option>
                            <option value="#FF9100">オレンジ</option>
                            <option value="#FFD400">黄色</option>
                            <option value="#008000">緑</option>
                            <option value="#B2D235">黄緑</option>
                            <option value="#67A7CC">水色</option>
                            <option value="#0067C0">青</option>
                            <option value="#5F4894">紫</option>
                            <option value="#717375">グレー</option>
                        </select>
                        <label for="color">Color</label>
                        <span class="focus_line"></span>
                    </div>
                </div>
                <p></p>
            </li>
        </ul>
        <div>
            <input type="submit" value="次へ">
        </div>
    </form>
</main>
{% endblock %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const salary_day = document.getElementById('salary_day');
        for (let i = 1; i < 30; i++) {
            const option_day = document.createElement('option');
            option_day.value = i !== 29 ? i.toString() : "last";
            option_day.textContent = i !== 29 ? i.toString() + "日" : "月末";
            salary_day.appendChild(option_day);
        }

        const color_box = document.getElementById('color_box');
        const color = document.getElementById('color');

        color_box.style.backgroundColor = color.value;

        color.addEventListener('change', () => {
            color_box.style.backgroundColor = color.value;
        });
    });
</script>
{% endblock %}
