<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>アカウント作成</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/create_account.css')}}">
</head>
<body>
<header>
    <a href="{{url_for('index')}}">＜</a>
    <h2>アカウント作成</h2>
</header>
<main>
    <p id="error">{% if error %}{{error}}{% endif %}</p>

    <form action="{{url_for('create_account.confirm_account_page')}}" method="post" onSubmit="return checkPw()">
        <ul>
            <li>
                <div class="input_text">
                    <input class="ef" type="text" name="name" id="name" value="{{account['name']}}" placeholder="空白無しの32文字以内" required>
                    <label for="name">Name</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <input class="ef" type="email" name="mail" id="mail" value="{{account['mail']}}" placeholder="x@x.xの形式で64文字以内" required>
                    <label for="mail">Mail</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <input class="ef" type="password" name="pw" id="pw" placeholder="大小数字を含む6文字以上" required>
                    <label for="pw">PW</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <input class="ef" type="password" name="re_pw" id="re_pw" placeholder="上記と同じパスワード" required>
                    <label for="re_pw">RePW</label>
                    <span class="focus_line"></span>
                </div>
            </li>
        </ul>
        <div>
            <input type="submit" value="次へ">
        </div>
    </form>
</main>

<script>
    // パスワードの確認
    function checkPw() {
        const pw = document.getElementById('pw');
        const re_pw = document.getElementById('re_pw');

        if (pw.value !== re_pw.value) {
            const error = document.getElementById('error');
            error.textContent = 'パスワードが等しくありません。' ;
            pw.value = '';
            re_pw.value = '';
            return false;
        }

        return true;
    }
</script>
</body>
</html>