{% extends "layout.html" %}

{% block title %}
バイト先情報編集【ジョビカレンダー】
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/edit_job.css')}}">
{% endblock %}

{% block back_page %}
<a href="#">＜</a>
{% endblock %}

{% block header %}
<h2>バイト先情報編集</h2>
{% endblock %}

{% block main %}
<main>
    <p id="error">{% if error %}{{error}}{% endif %}</p>
    <form action="{{url_for('job.confirm_edit_job_page')}}" method="post">
        <ul>
            <li>
                <div class="input_text">
                    <div class="select_color">
                        <select name="edit_job" id="edit_job" class="ef">
                            {% for edit_job in job_list %}
                            <option value="{{edit_job['job_id']}}">{{edit_job['job_name']}}</option>
                            {% endfor %}
                        </select>
                        <label for="edit_job">EditJob</label>
                        <span class="focus_line"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <input class="ef" type="text" name="job_name" id="job_name" value="{{job_list[0]['job_name']}}">
                    <label for="job_name">JobName</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <div class="select_color">
                        <select name="color" id="color" class="ef">
                            {% for color_code in color_list %}
                            <option value="{{color_code}}">{{color_list[color_code]}}</option>
                            {% endfor %}
                        </select>
                        <label for="color">Color</label>
                        <span class="focus_line"></span>
                    </div>
                    <div id="color_box"></div>
                </div>
            </li>
        </ul>
        <div>
            <input type="submit" value="次へ">
        </div>
    </form>
    <form action="{{url_for('edit_job.delete_job')}}" method="get" onsubmit="return delete_check()">
        <input type="hidden" name="job_id" value="" id="delete_job_id">
        <input type="submit" value="「」を削除する" id="delete_job">
    </form>
</main>
{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const color_box = document.getElementById('color_box');
        const color = document.getElementById('color');
        const edit_job = document.getElementById('edit_job');
        const job_name = document.getElementById('job_name');
        const delete_job = document.getElementById('delete_job');
        const delete_job_id = document.getElementById('delete_job_id');
        const job_list = {{ job_list | tojson }};
        const color_list = {{ color_list | tojson }};

        const option = document.createElement('option')
        option.textContent = job_list[0]['color_name']
        option.value = job_list[0]['color']
        color.add(option, 0)
        color[0].selected = true;
        color_box.style.backgroundColor = "#" + job_list[0]['color'];
        delete_job.setAttribute('value', `「${job_list.find(({ job_id }) => job_id.toString() === edit_job.value)['job_name']}」を削除する`);
        delete_job_id.setAttribute('value', edit_job.value);

        color.addEventListener('change', () => {
            color_box.style.backgroundColor = "#" + color.value;
        });

        edit_job.addEventListener('change', () => {
            job_name.value = job_list.find(({ job_id }) => job_id.toString() === edit_job.value)['job_name'];
            delete_job.textContent = job_list.find(({ job_id }) => job_id.toString() === edit_job.value)['job_name'];
            color[0].textContent = job_list.find(({ job_id }) => job_id.toString() === edit_job.value)['color_name']
            color[0].value = job_list.find(({ job_id }) => job_id.toString() === edit_job.value)['color']
            color[0].selected = true;
            color_box.style.backgroundColor = "#" + color[0].value;
            delete_job.setAttribute('value', `「${job_list.find(({ job_id }) => job_id.toString() === edit_job.value)['job_name']}」を削除する`);
            delete_job_id.setAttribute('value', edit_job.value);
        });
    });
    const delete_check = () => {
        return window.confirm(`バイト先を削除しますか？`);
    }
</script>
{% endblock %}


