{% extends "layout.html" %}

{% block title %}
    グループ参加｜Jyobi-Calendar
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/group_entry.css') }}">
{% endblock %}

{% block back_page %}
    <a href="#" onclick="window.history.back(); return false;">＜</a>
{% endblock %}

{% block header %}
    グループ参加
{% endblock %}

{% block main %}
    <main>
        {% if alert_message %}
            {% if alert_message == 'entry_error' %}
                <h3>グループが存在しません</h3>
            {% endif %}
        {% else %}
            <h2>{{ details[0][4] }}</h2>
            <p>メンバー : {{ member_count[0] }}人</p>
            <a href="{{ url_for('group.group_entry', gid=details[0][5]) }}">参加する</a>
        {% endif %}
    </main>
{% endblock %}

{% block js %}
{% endblock %}