{% extends "layout.html" %}

{% block title %}
    グループ参加｜Jyobi-Calendar
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/group_entry.css') }}">
{% endblock %}

{% block back_page %}
    <a href="#" onclick="window.history.back(); return false;">＜</a>
{% endblock %}

{% block header %}
    グループ参加
{% endblock %}

{% block main %}
    <main>
        <div>
            {% if alert_message %}
                {% if alert_message == 'entry_error' %}
                    <h3>グループ参加出来ませんでした</h3>
                    <a href={{ url_for('group.group_detail', gid=gid) }}>戻る</a>
                {% endif %}
            {% else %}
                <h2 class="group_name">{{ details[0][4] }}</h2>
                <p class="member_count">参加メンバー : {{ member_count[0] }}名</p>
                <a class="entry_button" href="{{ url_for('group.group_entry', gid=details[0][5]) }}">参加する</a>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block js %}
{% endblock %}