{% extends "layout.html" %}

{% block title %}
    グループ詳細｜Jyobi-Calendar
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/group_detail.css') }}">
{% endblock %}

{% block back_page %}
    <a href="#" onclick="window.history.back(); return false;">＜</a>
{% endblock %}

{% block header %}
    グループ詳細
{% endblock %}

{% block main %}
    <main>
        {% if not details %}
            {% if alert_message %}
                <div id="alert_message">
                    <p>{{ alert_message }}</p>
                </div>
            {% endif %}
        {% else %}
            <div id="group_name">
                <h3>Group Name</h3>
                <input class="ef" id="group_name_text" value="{{ details[0][4] }}" readonly>
            </div>
            <div id="group_link">
                <h3>Group Link</h3>
                <img id="group_link_text_copy" src="{{ url_for('static', filename='images/copyLogo.png') }}" alt="コピー" onclick="copyToClipboard()">
                {#            <a href="#" id="group_link_text_copy" onclick="copyToClipboard()">Copy</a>#}
                <input class="ef" id="group_link_text" type="text" value="{{ details[0][5] }}" readonly>
            </div>
            <div id="group_link_qr_img"></div>
            <div id="members_list">
                <h3>Member List</h3>
                <table>
                    {% for i in details %}
                        <tr>
                            <td>
                                {% if i[0] == i[3] %}
                                    <p>Leader</p>
                                {% elif i[0] == session['user'] %}
                                    <p>自分</p>
                                {% endif %}
                            </td>
                            <td>
                                {{ i[1] }}
                            </td>
                            <td>
                                {% if i[0] != i[3] %}
                                    {% if i[0] == session['user'][0] %}
                                        <a onclick="alert('退室')">Escape</a>
                                    {% else %}
                                        <a onclick="alert('削除')">Remove</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </main>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='js/group_detail.js') }}"></script>
{% endblock %}