<!DOCTYPE html>
<html lang="ja">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/home.css">
   <script type="text/javascript">
      const current_id = "{{user_id}}"
      </script>
   <script src="../static/js/home.js" type="text/javascript"></script>
   <title>ジョビカレンダー</title>
   <link rel="shortcut icon" href="{{url_for('static', filename='images/jyobi.ico')}}" type="image/x-icon">
</head>

<body>
   <header class="header sticky-head">
      <div class="logo">JYOBI calendar</div><!-- /.logo -->
      <div class="drawer">
         <input type="checkbox" id="drawer-check" class="drawer-hidden">
         <label for="drawer-check" class="drawer-open"><span></span></label>
         <nav class="drawer-content">
            <p class="group_title">グループ</p>
            <ul class="drawer-list">
               <li class="drawer-item" id="group_list">
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio dradio" id="-1" checked>
                     <label for="-1" class="radio_ci"></label>
                     <input id="tab-one" type="checkbox" name="tabs">
                     <label for="tab-one" class="group_name">自分</label>

                  </div>
               </li>
               <!-- TODO:リンクを貼る -->
               <li class="footer-menu">
                  <div>
                     <p><a href="/group/new_group">グループ新規作成</a></p>
                     <p><a href="/detail/" id="grouplink">グループ編集</a></p>
                     <p><a href="/job/add_job">バイト先新規登録</a></p>
                     <p><a href="/job/edit_job">バイト先編集</a></p>
                     <p><a href="/edit_account">ユーザー情報変更</a></p>
                     <p><a href="/logout">ログアウト</a></p>
                  </div>
               </li>
            </ul>

         </nav>

      </div>
   </header>
   <div class="calendar-area" >
      <nav class="nav-cal" id="cla">
         <ul id="cal" class="ul-cal">

         </ul>
      </nav>
   </div>
   <div id="easyModal" class="modal">
      <div class="modal-content">
         <div class="modal-header">
            <p>予定設定</p>
            <span class="modalClose">×</span>
         </div>
         <div class="modal-body" id="modal-text">
            <p>バイト先選択</p>
            <div class="cp_ipselect cp_sl04">
               <select id="job" required>
                  
               </select>
            </div>
            <p>タイトル</p>
            <div class="center_block">
               <input type="text" class="input-area" id="title">
            </div>
            <p>カラー選択</p>
            <div class="cp_ipselect cp_sl04">
            <!-- TODO: 色の見本を表示できるようにする -->
               <select  id="color-pic" required>
                  <option value="000000" id="jobco" hidden>なし</option>
                  <option value="FF0000"style="color: #FF0000; display: inline;"><div style="color: #FF0000; display: inline;">●</div>aka</option>
                  <option value="FF3399"><div  style="color: #FF3399;display: inline;">&#9679;</div>　ピンク</option>
                  <option value="FF9100" ><div style="color: #FF9100;display: inline;">&#9679;</div>　オレンジ</option>
                  <option value="FFD400"><div  style="color: #FFD400;display: inline;">&#9679;</div>　イエロー</option>
                  <option value="008000"><div  style="color: #008000;display: inline;">&#9679;</div>　グリーン</option>
                  <option value="B2D235"><div  style="color: #B2D235;display: inline;">&#9679;</div>　イエローグリーン</option>
                  <option value="67A7CC"><div style="color: #67A7CC;display: inline;">&#9679;</div>　スカイブルー</option>
                  <option value="0067C0"><div style="color: #0067C0;display: inline;">&#9679;</div>　ブルー</option>
                  <option value="5F4894"><div style="color: #5F4894;display: inline;">&#9679;</div>　パープル</option>
                  <option value="717375"><div style="color: #717375;display: inline;">&#9679;</div>　グレー</option>
               </select>
            </div>
            <p>開始日時</p>
            <div class="parent">
               <input type="date" name="start" class="date herf-input-area" id="start-day">
               <input type="time" name="smp01" min="00:00" max="24:00" class="time herf-input-area" id="start-time">
            </div>
            <p>終了日時</p>
            <div class="parent">
               <input type="date" name="birthday" class="date herf-input-area" id="end-day">
               <input type="time" name="smp01" min="00:00" max="24:00" class="time herf-input-area" id="end-time">
            </div>
            <p>公開設定</p>
            <div class="p-radio">
            <input type="radio" name="q1" value="はい" id="nopr" checked> 公開する
            <input type="radio" name="q1" value="いいえ" > 非公開
         </div>
         <div class="parent"><button id="send-schedule"  class="entry_button" onclick="onsend()">作成</button></div>
         </div>
      </div>
   </div>
</body>

</html>
