<!DOCTYPE html>
<html lang="ja">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/home.css">
   <script src="../static/js/home.js" type="text/javascript"></script>
   <title>Document</title>
</head>

<body>
   <header class="header">
      <div class="logo">JYOBI calendar</div><!-- /.logo -->
      <div class="drawer">
         <input type="checkbox" id="drawer-check" class="drawer-hidden">
         <label for="drawer-check" class="drawer-open"><span></span></label>
         <nav class="drawer-content">
            <p class="group_title">グループ</p>
            <ul class="drawer-list">
               <li class="drawer-item">
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="01">
                     <label for="01" class="radio_ci"></label>
                     <input id="tab-one" type="checkbox" name="tabs">
                     <label for="tab-one" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="02">
                     <label for="02" class="radio_ci"></label>
                     <input id="tab-two" type="checkbox" name="tabs">
                     <label for="tab-two" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="03">
                     <label for="03" class="radio_ci"></label>
                     <input id="tab-three" type="checkbox" name="tabs">
                     <label for="tab-three" class="group_name">タイトル</label>
                     <div class="cp_actab-content">
                        <p>テキスト</p>
                     </div>
                  </div>
               </li>
               <!-- TODO:リンクを貼る -->
               <li class="footer-menu">
                  <div>
                     <p><a href="#">グループ新規作成</a></p>
                     <p><a href="#">グループ編集</a></p>
                     <p><a href="#">バイト先新規登録</a></p>
                     <p><a href="#">バイト先編集</a></p>
                     <p><a href="#">ユーザー情報変更</a></p>
                  </div>
               </li>
            </ul>

         </nav>

      </div>
   </header>
   <div class="calendar-area">
      <nav class="nav-cal">
         <ul id="cal" class="ul-cal">
            
         </ul>
      </nav>
   </div>
</body>

</html>
