<!DOCTYPE html>
<html lang="ja">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/home.css">
   <script src="../static/js/home.js" type="text/javascript"></script>
   <title>Document</title>
</head>

<body>
   <header class="header">
      <div class="logo">JYOBI calendar</div><!-- /.logo -->
      <div class="drawer">
         <input type="checkbox" id="drawer-check" class="drawer-hidden">
         <label for="drawer-check" class="drawer-open"><span></span></label>
         <nav class="drawer-content">
            <p class="group_title">グループ</p>
            <ul class="drawer-list">
               <li class="drawer-item" id="group_list">
                  <div class="cp_actab">
                     <input type="radio" name="group" class="group_radio" id="01">
                     <label for="01" class="radio_ci"></label>
                     <input id="tab-one" type="checkbox" name="tabs">
                     <label for="tab-one" class="group_name">自分</label>
  
                  </div>
               </li>
               <!-- TODO:リンクを貼る -->
               <li class="footer-menu">
                  <div>
                     <p><a href="#">グループ新規作成</a></p>
                     <p><a href="#">グループ編集</a></p>
                     <p><a href="#">バイト先新規登録</a></p>
                     <p><a href="#">バイト先編集</a></p>
                     <p><a href="#">ユーザー情報変更</a></p>
                  </div>
               </li>
            </ul>

         </nav>

      </div>
   </header>
   <div class="calendar-area">
      <nav class="nav-cal">
         <ul id="cal" class="ul-cal">
            
         </ul>
      </nav>
   </div>
   <div id="easyModal" class="modal">
         <div class="modal-content">
            <div class="modal-header">
               <h1>Great job 🎉</h1>
               <span class="modalClose">×</span>
               </div>
               <div class="modal-body" id="modal-text">
                  <p>タイトル</p>
                  <input type="text" id="name" class="">
                  <p>バイト先選択</p>
                  <div class="cp_ipselect cp_sl04">
                     <select required>
                        <option value="" hidden>Choose</option>
                        <option value="1">cat</option>
                        <option value="2">dog</option>
                        <option value="3">rabbit</option>
                        <option value="4">squirrel</option>
                     </select>
                     </div>
                  <p>開始日時</p>
                  <input type="date" name="start">
                  <input type="time" name="smp01" min="00:00" max="24:30" >
                  <p>終了日時</p>
                  <input type="date" name="birthday">
                  <input type="time" name="smp01" min="00:00" max="24:30" >
               
                  <button>作成</button>
               </div>
            </div>
         </div>
</body>

</html>
