<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ジョビカレンダー</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
<div>
    <h1>ジョビカレンダー</h1>
    <p id="error">{% if error %}{{error}}{% endif %}</p>
    <form action="{{url_for('login.home_post_page')}}" method="post">
        <ul>
            <li>
                <div class="input_text">
                    <input class="ef" type="text" name="mail" id="mail">
                    <label for="mail">Mail</label>
                    <span class="focus_line"></span>
                </div>
            </li>
            <li>
                <div class="input_text">
                    <input class="ef" type="password" name="pw" id="pw">
                    <label for="pw">PW</label>
                    <span class="focus_line"></span>
                </div>
            </li>
        </ul>
        <div>
            <input type="submit" value="ログイン">
            <a href="{{url_for('create_account.create_account_page')}}">アカウントを作成する</a>
        </div>
    </form>
</div>
</body>
</html>
